doctype html
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="A Twitter Clone")
        link(rel="stylesheet", href="/css/main.css")
        title Rettiwt
    body
        nav.__navbar
            a.__navbar-brand(href="/") Rettiwt
            if user
                a.__navbar-item(href="/users/#{user.username}") #{user.username}
                a.__navbar-item(href="/logout") Logout
            else
                a.__navbar-item(href="/login") Login
                a.__navbar-item(href="/register") Register

        block content

        footer 
            p &copy; 2020 Rettiwt