.__card {
  background: #18191b;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  margin: 10px auto;
  width: 300px;
  height: 450px;
  padding: 20px;
  color: #fff;
  animation: 1s cardAppear forwards;

  .__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  .__gender {
    width: 20px;
    height: 20px;
  }

  @keyframes cardAppear {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .__edit_user {
    .__field{
      display: flex;
    }

    label {
      width: 100px;
      text-align: start;
    }

    input, select {
      margin-bottom: 2px;
      background-color: #edeefa;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 6px 8px;
      color: #000;
      outline: none;
      width: fit-content;
    }

    button {
      margin-top: 10px;
      background-color: #cacbd8;
      border-radius: 5px;
      border: none;
      padding: 8px 10px;
      color: #000;
      cursor: pointer;
      transition: 0.4s;
      
      &:hover {
        background-color: #edeefa;
      }
    }
  }

  .__is_admin{
    position: absolute;
    top: -5px;
    left: -5px;

    .__user{
      background: rgba(30, 101, 225, 0.2);
    }

    .__admin {
      background: rgba(255, 0, 0, 0.2);
    }

    .__change_btn {
      border-radius: 12px 0 12px 0;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      margin: 5px;
      display: block;
      width: 50px;
      height: 30px;
      padding: 5px;
      color: #fff;
      cursor: pointer;
      transition: 0.4s;


      &:hover {
        opacity: 0.8;
      }
    }
  }

  .__edit_mode {
    position: absolute;
    top: -15px;
    right: -15px;

    .__edit_btn,
    .__delete_btn {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 12px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
      margin: 5px;
      display: block;
      width: 50px;
      height: 50px;
      padding: 5px;
      color: #fff;
      cursor: pointer;
      transition: 0.4s;

      img {
        width: 16px;
        height: 16px;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.4);
      }

      &.__disable_btn {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}

.__card_out {
  animation: 2s cardFall forwards;
  transform-origin: bottom center;

  @keyframes cardFall {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }

    100% {
      transform: rotate(40deg);
      opacity: 0;
    }
  }
}